html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    position: fixed;
    height: 80px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    line-height: 80px;
    background-image: linear-gradient(to right, red,yellow,#ffffff)
}

header img{
    height: 70px;
    width: 120px;
}

.menu{
    position: fixed;
    margin-top: 84px;
    height: 55px;
    width: 100%;
    line-height: 55px;
}

.daftar-menu{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    text-align:center;
}

.isi{
    padding-top: 150px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    display: block;
}

.konten{
    width: 100%;
    display: inline-block;
}

.kiri{
    border-color: blueviolet;
    border-style: solid;
    border-width: 1%;
    float: left;
    width: 78%;
}

.kanan{
    border-color: aqua;
    border-style: solid;
    border-width: 1%;
    float: right;
    width: 20%;
}

footer{
    margin-top: 20px;
    background-color: brown;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.menu .daftar-menu ul {
    justify-content: center;
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu .daftar-menu li {
    display: inline-block;
    float: left;
}

.menu .daftar-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

.menu .daftar-menu li a:hover {
  background-color: #111111;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tengah-medium{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form{
    padding: 20px;
    text-align: left;
}

form input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
form input[type=submit] {
    width: 100%;
    background-image: linear-gradient(to right, #4a148c, #aa00ff ); 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
form input[type=submit]:hover {
    background-image: linear-gradient(to left, #4a148c, #aa00ff ); 
  }

form .note{
  font-size: 10pt;
  color: gray;
  font-style: italic;
}

.form-output{
  font-style: italic;
  color: gray;
  padding-bottom: 10px;
  display: block;
}